body {
  box-sizing: border-box;
  width: 550px;
  margin: 1em auto;
  padding: 0 1em;
  font-family: sans-serif;
}
code {
  font-size: 1.3em;
}
h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 0;
}
p.lead {
  font-weight: bold;
  text-align: center;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #222;
}
.form-field {
  margin-bottom: .5em;
}
label {
  display: inline-block;
  width: 7em;
  text-align: right;
  margin-right: .75em;
}
input {
  border: none;
  font-size: 1.5em;
}
footer {
  text-align: center;
}
